# Logs
*.log
hs_err_pid*
replay_pid*

# Dependencies
node_modules/
target/
bin/
obj/

# IDE
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
.factorypath

# OS
Thumbs.db
Desktop.ini

# Zip files (optional, but usually better to ignore if they are just backups)
# *.zip
